---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import ProfileSection from '../components/ProfileSection.astro';
import LinkSection from '../components/LinkSection.astro';
import SocialLinks from '../components/SocialLinks.astro';
import MusicSection from '../components/MusicSection.astro'; // Add this
import { profileData } from '../data/links';
import QRCode from '../components/QRCode.astro';
---

<Layout title={`${profileData.name} - Links`}>
  <ThemeToggle />
  
  <div class="container mx-auto min-h-screen flex flex-col">
    <div class="flex-1">
      <ProfileSection />
      <LinkSection />
      <MusicSection /> <!-- Add this -->
      <SocialLinks />
      <QRCode />
    </div>
    
    <footer class="py-6 text-center text-sm text-gray-500 dark:text-gray-400">
      <p>Made with ❤️ using Astro & Tailwind CSS</p>
    </footer>
  </div>
</Layout>